body{
    background-color: aqua;
}
.quiz_container{
    padding-top: 10%;
    width: 380px;
    height: 380px;
    border-radius: 60%;
    background-color: blue;
    align-items: center;
    transform: translate(90%,0%);
}
.questions{
    transform: translate(15%,0%);
}

li{
    padding : 2%;
    font-size: 110%;
}

button{
    cursor: pointer;
    transform: translate(85%,0%);
    margin-top: 10%;
    height: 40px;
    width: 100px;
    background-color: blueviolet;
    color: black;
    border-radius: 100%;
}

button:hover{
    background-color: rgb(214, 43, 226);
}

.question{
    transform: translate(11%);
}

input,label{
     cursor: pointer;
}

